<!DOCTYPE html>
<html>
<head>
  <title>Cloup Co - Inicio</title>
  <link rel="stylesheet" href="/css/var.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  <header>
    <nav id="nav" class="closed">
      <div class="menu-icon" onclick="toggleMenu()">
        <img src="/images/menuIcon.png" alt="Icono de menú">
      </div>
      <div class="menu-content">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/categorias">Categorías</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/carrito">Carrito</a></li>
          <% if (usuario) { %>
            <li><a href="/perfil"><%= usuario.nombre %></a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
          <% } else { %>
            <li><a href="/login">Iniciar sesión</a></li>
          <% } %>
        </ul>
        <div class="developer-info">
        <div class="images">
          <img src="/images/devProfile.png" alt="Foto del Desarrollador">
          <img src="/images/logoInstitucion.png" alt="Logo de la Institución">
        </div>
        <div class="info">
          <p>Vicente Pavez</p>
          <p>v.andrehpavez@gmail.com</p>
          <p>+56 9 9368 2841</p>
          <p>Instituto Profesional Santo Tomás</p>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h1>Últimos productos</h1>
    <% if (productos) { %>
      <div class="productos-destacados">
        <% productos.forEach(producto => { %>
          <div class="producto">
            <img src="/images/<%= producto.imagen %>" alt="<%= producto.nombre %>">
            <h3><%= producto.nombre %></h3>
            <p><%= producto.descripcion %></p>
            <p>Precio: $<%= producto.precio %></p>
            <button>Agregar al carrito</button>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p>No se encontraron productos.</p>
    <% } %>
  </main>


  <footer>
    &copy; 2023 Cloup Co. Todos los derechos reservados.
  </footer>

  <script>
    function toggleMenu() {
      var nav = document.getElementById('nav');
      nav.classList.toggle('closed');
      nav.classList.toggle('open');
    }
  </script>
</body>
</html>